#quadrat {
	width: 100px;
	height: 100px;
	background-color: #f00;

	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.bala {
	width: 10px;
	height: 20px;
	background-color: #000;

	position: absolute;
	transform: translateX(-50%);
}
