.celda{
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 0;
    align-content: center;
}

.celda p{
    font-size: 30px;
    margin: 0;
}

.numParell{
    background-color: #000;
}